body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: dimgray;
}

#mainhead {
  text-align: center;
}

#navigation {
  padding-left: 10px;
  padding-right: 10px;
  background-color: aquamarine;
  text-align: center;
}


#homeadd {
  text-align: center;
  font-size: smaller;
}

#fp {
  width: 800px;
  text-align: center;
  padding: 25px;
  margin: 0 auto;
}

#det {
  float: left;
  width: 25%;
  background-color: aquamarine;
  text-align: center;
}